/*
  ========================================
  FONT TYPES
  ========================================
*/

@font-face {
    font-family: Trench100;
    src: url("fonts/trench100free.otf");

}
@font-face {
    font-family: TypeWriter;
    src: url("fonts/TravelingTypewriter.ttf");

}
@font-face {
    font-family: JennaSue;
    src: url("fonts/JennaSue.ttf");

}

/*
  ========================================
  ALL HTML
  ========================================
*/

body {
    background-color: black;
}

ul {
    padding: 10px;
    text-align: center
}

li {
    display: inline;
    list-style: none; 
    padding: 10px;
    font-family: TypeWriter;
    font-size: 1em; 
}

h1, h4, h5, a:link, a:visited, a:hover {
    color:whitesmoke;
    text-decoration: none;
}

.getEvent a.currentLinkEvent,
.getBark a.currentLinkBark,
.getMov a.currentLinkMov {
    color:black;
    background-color: whitesmoke;
}

a:hover {
    text-shadow: 0px 0 5px #fff;
    font-size: 100%;
}  

/*
  ========================================
  INDEX
  ========================================
*/

h1, h5 {
    text-align: center;
    padding-bottom: 30px;
    margin: 0;
}

h1 {
    font-family: Trench100;
    font-size: 3.5em; 
}

h5 {
    font-family: JennaSue;
    font-size: 2.5em;  
}

.cooper {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*
  ========================================
  GETEVENT / GETBARK / GETMOVEMENT
  ========================================
*/

.icon {
    width: 60px;
    height: 60px;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
}

h4 {
    font-family: JennaSue;
    font-size: 2.5em; 
    margin-top: 0px;
}

p {
    background-color: rgba(255, 255, 255, 0.8);
    font-family: TypeWriter;
    font-size: 1.1em;
    color: black;
    border:1px solid grey;
    padding: 5px;
    margin: 10px;
}

.red {
    color: red;
}

.blue {
    color: blue;
}
